<h1>Mechanic Show page</h1>
<p>Name:<%= @mechanic.name%></p>
<p>Years of experience:<%= @mechanic.years_experience%></p>
<% @mechanic.rides.each do |ride| %>
<p>name of ride(s) working on: <%=ride.name%> </p>
<%end %>
